<div class="header-wrapper">
    <mat-toolbar color="primary">
    
        <span>Ng-day-three</span>
    
        <span class="example-fill-remaining-space"></span>
        
        <span class="ml-10">
            <a [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
        </span>
        <span class="ml-10">
            <a [routerLink]="[ '/about' ]" routerLinkActive="active">About</a>
        </span>
        <span class="ml-10">
            <a [routerLink]="[ '/contact' ]" routerLinkActive="active">Contact</a>
        </span>
    
    </mat-toolbar>
</div>


